body
{
    font-family: sans-serif;
}

.edit-mode .layout
{
    border: solid 1px #ccc;
    padding: 5px;
    margin-bottom:10px;
}

.region-label
{
    font-size:75%;
    text-transform: uppercase;
    color:#ccc;
}